
  <!-- ==========================
      HEADER - START
    =========================== -->
  <div class="top-header hidden-xs hidden">
      <div class="container">
            <div class="row">
                <div class="col-sm-7 text-right">
                    <ul class="list-inline links">
                        <li><a href="my-account.html">Blog</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <header class="navbar navbar-transparent navbar-fixed-top">
      <div class="container">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand" style="color:pink"><span>C</span>uptimize</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="navbar-collapse collapse">
              <p class="navbar-text hidden-xs hidden-sm">Trouvez le soutien-gorge qui vous fit !</p>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true">Blog</a>
                </li>
              </ul>

                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- ==========================
      HEADER - END
    =========================== -->
