
  <!-- ==========================
      HEADER - START
      =========================== -->
      <div class="top-header hidden-xs hidden">
        <div class="container">
          <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-7 text-right">
              <ul class="list-inline links">
                <li><a href="/blog">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <header class="navbar navbar-transparent navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand" style="color:white"><span>C</span>uptomize</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
          </div>
          <div class="navbar-collapse collapse">
            <p class="navbar-text hidden-xs hidden-sm">Plus de confort pour votre intimité</p>
            <ul class="nav navbar-nav navbar-right">
              <!-- <li class="dropdown"> -->

              <li class="dropdown">
                <a href="/blog" data-delay="300" data-close-others="true">Blog</a>
              </li>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- ==========================
      HEADER - END
      =========================== -->
