
      <!-- ==========================
        BLOG - START
      =========================== -->
      <section class="content blog">
        <div class="container">
          <h2 class="hidden">Blog</h2>
            <div class="row">
              <div class="col-sm-9">

                      <!-- POST - START -->
              <article class="post" style="padding-top:30px">
                <div class="post-left"></div>
                  <h3>Cours de boob-education 1: 3 conseils pour trouver le soutien-gorge idéal.</h3>
                    <div class="meta">
                      <div class="date">20/12/2015</div>
                      <div class="category">Fitting</div>
                    </div>

                    <p>Il semblerait que 80 à 85% des femmes portent des soutiens gorges mal adaptés. Mais alors, pourquoi porte-t-on des soutiens-gorge ? </p>
                    <div class="attachment">
                      <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516223787/giphy_7_nneu0s.gif" class="img-responsive" alt="">
                    </div>
                      <p>Pour être confortable, pour être attirante ou tout simplement et principalement pour maintenir la forme de sa poitrine. Au-delà des statistiques, le plus important est de savoir si nous nous sentons confortable.</p>
                      <p>Posez-vous simplement les questions suivantes :<br>
                      <strong>- Est-ce que vos seins sortent du bonnet ?<br>
                      - Est-ce que ca vous démange dans le dos ?<br>
                      - Votre soutien-gorge est-il inconfortable ?<br></strong>
                      Si la réponse est « oui » à l’une de ces questions, voici quelques conseils pour enfin être confortable dans votre soutien-gorge. Une sorte de guide du débutant qui vous emmènera à la découverte des soutiens-gorge, leur importance et le <strong style="color:#FF00CC">fun associé.</strong></p>
                      <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516224744/giphy_8_ectatj.gif" class="img-responsive">
                      <h4>#1 Chaque poitrine est unique alors connaissez votre taille !</h4>
                      <p>Nos mensurations sont essentielles. Les soutiens-gorge sont fabriqués sur bases de standards prédéfini donc connaitre parfaitement votre taille est le point de départ. Il est recommandé de faire 2 mesures : l’une du buste, que vous faite sous la poitrine et la deuxième directement sur la poitrine en passant sous les aisselles.</p>
                      <h5>1ère étape : quel est votre tour de poitrine</h5>
                      <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516225964/bra_fit_1_ftbs70.png" class="img-responsive">
                      <p>- Munissez-vous d’un mètre-ruban <br>
                      - Placez-le au niveau de la pointe des seins, bien à l’horizontale<br>
                      - Faites le tour de votre buste en passant le ruban sous vos aisselles<br>
                      - Prenez la mesure<br>
                      Pour que le résultat soit le plus précis possible, je vous conseille de prendre votre mesure en étant déshabillée et bien droite. En effet, l’épaisseur des vêtements peut fausser le résultat. Par ailleurs, le mètre ruban doit être ni trop serré, ni trop lâche.</p>
                      <h5>2ème étape : quel est votre tour du buste</h5>
                      <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516225966/bra_fit_2_u27klw.png" class="img-responsive">
                      <p>Pour mesurer votre buste, rien de plus simple : passez le mètre-ruban juste sous votre poitrine (sans gonfler votre cage thoracique) et notez la taille en cm.<p>
                      <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516226106/giphy_9_chfioi.gif" class="img-responsive">
                      <p>Ces deux mesures sont la base mais rappelez-vous que chaque marque est différente et leurs mesures peuvent varier. Une fois ces deux mesures en votre possession, les choses vont se compliquer…<strong>Ce serait beaucoup trop simple de trouver un soutien-gorge qui conviendrait à toute ! Chaque femme est unique :).</strong></p>
                      <h4>#2 Soyez confortable dans votre soutien-gorge</h4>
                      <p>Les femmes associent souvent la largesse avec confort mais un soutient gorge doit être toujours être bien cintré. 90% de la stabilité du soutien-gorge est assuré par un bandeau arrière tendu et au bon niveau du dos. Si le bandeau arrière est trop détendu il remontera le long du dos et les autres éléments sur soutient gorge ne permettrons plus d’assurer la stabilité de la poitrine. Conseil : Le soutient gorge doit être suffisamment séré pour laisser passer 2 doigts sous les bretelles. Le bandeau arrière doit être au même niveau ou en dessous du niveau des bonnets. Cela vous permettra de maintenir une parfaite stabilité tout au long de la journée.</p>
                      <h4>#3 N’oubliez pas la forme, elles sont nombreuses et très jolies !</h4>
                      <p>Il existe beaucoup de formes différentes disponibles. Certaines, comme les balconettes ou les triangles conviennent mieux aux seins en cloche ou ronds et leur donnerons une poussée parfaite (push-up).
                      <br>
                      Les seins en larme et relâchés iront mieux dans un soutien-gorge push-up ou racerback. Vous avez de la place entre les seins ? Choisissez des soutiens-gorge à armatures ou emboitants.</p>
                      <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516226530/giphy_10_xdckhj.gif" class="img-responsive">
                      <p>A la prochaine !</p>

              </article>
                      <!-- POST - END -->
              </div>
            </div>
        </div>
  </section>

