    <div id="page-wrapper"> <!-- PAGE - START -->
    <!-- ==========================
      BLOG - START
    =========================== -->
    <section class="content blog">
        <div class="container"  style="margin-top:50px">
            <h2 class="hidden">Blog</h2>
            <div class="row">
              <div class="col-sm-9">

                    <!-- POST - START -->
                    <article class="post">
                      <div class="post-left">
                        </div>
                      <h3><a href="single-post.html">Pyjamas for a good night</a></h3>
                        <div class="meta">
                            <div class="date">20/12/2015</div>
                            <div class="date visible-xs-inline-block">John Doe</div>
                            <div class="category">Uncategorized</div>
                        </div>
                        <div class="attachment">
                          <img src="assets/images/blog/blog-4.jpg" class="img-responsive" alt="">
                        </div>
                        <p>Nam vehicula vestibulum leo sit amet tristique. Cras laoreet elit non enim sodales, sit amet dictum felis lobortis. Nam ut elementum nibh, eget bibendum risus. Maecenas a metus non eros vestibulum bibendum sit amet vel dui. Phasellus convallis elit diam, ut porttitor magna pellentesque id. Pellentesque sed orci dolor. Aliquam aliquet dolor eget diam varius</p>
                      <h4>Donec euismod tortor tellus, vestibulum tristique arcu</h4>
                        <p>Morbi non aliquet felis. Nullam lectus risus, pretium eu rhoncus quis, ultrices et dolor. Cras eget sem vitae velit cursus pulvinar in a urna arcu nisi, pellentesque nec gravida quis, fringilla eget mi. In malesuada placerat diam at posuere lorem concordia.</p>
                        <h5>Donec euismod tortor tellus, vestibulum tristique arcu</h5>
                        <p>Integer porttitor aliquet nisi et dictum. Donec suscipit lorem eu nisl luctus, et lobortis magna rutrum. Quisque at vehicula nisi. Sed at felis in mi ornare porta eu eu nunc. Aliquam scelerisque dapibus leo id pellentesque. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis purus eros, malesuada ac quam in, vulputate varius sem. Vestibulum fermentum sollicitudin maximus.</p>
                        <img src="assets/images/blog/blog-1.jpg" class="img-responsive" alt="" style="padding:0 80px;">
                        <p>Morbi non aliquet felis. Nullam lectus risus, pretium eu rhoncus quis, ultrices et dolor. Cras eget sem vitae velit cursus pulvinar in a urna arcu nisi, pellentesque nec gravida quis, fringilla eget mi. In malesuada placerat diam at posuere lorem concordia.</p>
                        <div class="post-bottom clearfix">
                            <div class="tags">
                                <span class="label"><i class="fa fa-tag"></i><a href="#">book</a></span>
                                <span class="label"><i class="fa fa-tag"></i><a href="#">music</a></span>
                                <span class="label"><i class="fa fa-tag"></i><a href="#">nature</a></span>
                                <span class="label"><i class="fa fa-tag"></i><a href="#">read</a></span>
                                <span class="label"><i class="fa fa-tag"></i><a href="#">songs</a></span>
                                <span class="label"><i class="fa fa-tag"></i><a href="#">sunshine</a></span>
                            </div>
                        </div>
                    </article>
                    <!-- POST - END -->
</div>
</div>
</div>
</section>
</div>
