
      <!-- ==========================
        BLOG - START
      =========================== -->
      <section class="content blog">
          <div class="container" style="padding-top: 50px">
              <h2 class="hidden">Blog</h2>
              <div class="row">
                <div class="col-sm-9">

                      <!-- POST - START -->
                      <article class="post">
                        <h3><a href="/article_1">Cours de boob-education 1: 3 conseils pour trouver le soutien-gorge idéal.</a></h3>
                          <div class="meta">
                              <div class="date">17/01/2018</div>
                              <div class="category">Fitting</div>
                          </div>
                          <div class="attachment">
                            <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516222988/giphy_6_fjz1zz.gif" class="img-responsive" alt="">
                          </div>
                          <p><strong>Il semblerait que 80 à 85% des femmes portent des soutiens-gorge mal adaptés.</strong> Mais alors, pourquoi porte-t-on des soutiens-gorge ? Pour être confortable, pour être attirante ou tout simplement et principalement pour maintenir la forme de sa poitrine. Au-delà des statistiques, le plus important est de savoir si nous nous sentons confortable.</p>
                      </article>
                      <!-- POST - END -->

                  </div>
              </div>
          </div>
      </section>
      <!-- ==========================
        BLOG - END
      =========================== -->
