    <!-- ==========================
      JUMBOTRON - START
      =========================== -->
      <section class="content jumbotron jumbotron-full-height">
        <div id="" class="nav-inside">

          <div class="item slide-1" >
            <div class="slide-mask"></div>
            <div class="slide-body">
              <div class="container">
                <h2><br/><br/><br/><br/><span>Plus de confort pour ton <strong style="color:#FF00CC; font-weight:bold">intimité</strong> <br/>Trouve les <strong style="font-weight:bold">soutiens-gorge</strong> adaptés à tes <strong style="color:#FF00CC; font-weight:bold">formes</strong></span></h2><br/><br/><br/>
                 <%= link_to 'http://m.me/1985798468304619', class: "btn btn-inverse btn-lg btn-1", target:"_blank" do %>
              Je trouve ma lingerie
              <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_20/v1516610557/messenger_e6uzzl.png" style="padding-left:6px">
              <%end%>
              </div>
              <br/><br/><br/><br/><br/><br/>
            </div>
          </div>


        </div>
      </section>
    <!-- ==========================
      JUMBOTRON - END
      =========================== -->


    <!-- ==========================
      NOTIFICATION - START
      =========================== -->
      <section class="content pattern notification">
        <div class="container">
          <div class="row">
            <h3 style="font-size:40px; color:#34609A; padding:20px; line-height:100%; font-weight:bold;">Tu veux trouver le bon fit ? Ce soutien gorge qui te fera sentir Wahou ?</h3><p style="font-size:30px; padding-bottom:30px; color:#34609A">Cuptomize est là pour ça !</p>
                      <div class="container content services">
          <div class="row row-no-padding">

            <!-- SERVICE - START -->
            <div class="col-xs-12 col-sm-4">
              <div class="service">
                <div class="explication">
                <p>Tu es <strong style="color:#FF00CC; font-weight:bold">unique</strong>. Tes seins le sont aussi !</p><br><br>
                <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_240/v1516214928/giphy_1_jjqcos.gif">
                </div>
              </div>
            </div>
            <!-- SERVICE - END -->

            <!-- SERVICE - START -->
            <div class="col-xs-6 col-sm-4">
              <div class="service">
                <div class="explication">
                <p>Il existe une diversité de dessous, mais <strong style="color:#FF00CC; font-weight:bold">ils ne vont pas à toutes les poitrines</strong>.</p><br>
                <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,h_240,w_240/v1516214997/giphy_2_pibty8.gif">
                </div>
              </div>
            </div>
            <!-- SERVICE - END -->

            <!-- SERVICE - START -->
            <div class="col-xs-6 col-sm-4">
              <div class="service">
                <div class="explication">
                <p>Cuptomize fait le tri pour toi et te promet le <strong style="color:#FF00CC; font-weight:bold">perfect fit</strong> !</p><br>
                <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_240/v1516215746/giphy_5_kcqe3m.gif">
                </div>
              </div>
            </div>
            </div>
            </div>
            <p style="font-size:30px; padding-bottom:30px; color:#34609A"><strong style="color:#FF00CC; font-weight:bold">80%</strong> des femmes ne portent pas la bonne taille de soutien-gorge.</p>
            <h3><span style="font-size:50px; font-weight: bold; color:#34609A; padding-bottom:20px">Et toi ?</span></h3>
            <div style="padding-bottom:50px"><img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516215750/giphy_4_ex3bwu.gif"></div>
            </div>
          </div>
          <div style="background-color:#34609A">
          <h2>Deviens <strong>bêta-testeuse</strong> pour trouver les soutiens-gorges qui te vont !</h2>
          <div class="container content services">
          <div class="row row-no-padding">

            <!-- SERVICE - START -->
            <div class="col-xs-12 col-sm-4">
              <div class="service">
                <div class="number">1</div>
                <div class="explication">
                <p><strong>Tu renseignes tes mesures</strong>, que tu prends seins nus et tu réponds à quelques questions via notre <strong>bot messenger</strong>.</p>
                </div>
              </div>
            </div>
            <!-- SERVICE - END -->

            <!-- SERVICE - START -->
            <div class="col-xs-6 col-sm-4">
              <div class="service">
                <div class="number">2</div>
                <div class="explication">
                <p>Cuptomize sélectionne pour toi entre <strong>6 et 10 soutiens-gorge</strong> différents à tester.</p>
                </div>
              </div>
            </div>
            <!-- SERVICE - END -->

            <!-- SERVICE - START -->
            <div class="col-xs-6 col-sm-4">
              <div class="service">
                <div class="number">3</div>
                <div class="explication">
                <p>Tu fais <strong>les essayages à Paris ou à Lille</strong> et tu commandes les soutiens-gorge qui te vont, si tu le souhaites.</p>
                </div>
              </div>
            </div>
            <!-- SERVICE - END -->
            <div class="mesure-btn">
              <%= link_to 'http://m.me/1985798468304619', class: "btn btn-primary btn-inverse", target:"_blank" do %>
              Je deviens bêta-testeuse
              <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_20/v1516610557/messenger_e6uzzl.png" style="padding-left:6px">
              <%end%>

            </div>
          </div>
        </div>
          </div>
        </section>
     <!-- ==========================
      NOTIFICATION - END
      =========================== -->


          <!-- ==========================
      CATEGORIES - START
      =========================== -->

      <div class="content categories">
        <div class="row row-no-padding">

          <!-- CATEGORY - START -->
          <div class="col-xs-4">
            <div class="category">
              <a href="/measurements/new">
                <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516122555/mesure-cuptimize1_nj43qc.jpg" class="img-responsive" alt="">
                <div class="category-mask"></div>
                <h3 class="category-title"><img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516124013/boob_a6z8ny.png"></h3>
              </a>
            </div>
          </div>
          <!-- CATEGORY - END -->

          <!-- CATEGORY - START -->
          <div class="col-xs-4">
            <div class="category">
              <a href="/measurements/new">
                <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516122552/selection-cuptimize1_vgao04.jpg" class="img-responsive" alt="">
                <div class="category-mask"></div>
                 <h3 class="category-title"><img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516124018/bra-logo_e6zj90.png"></h3>
              </a>
            </div>
          </div>
          <!-- CATEGORY - END -->

          <!-- CATEGORY - START -->
          <div class="col-xs-4">
            <div class="category">
              <a href="/measurements/new">
                <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516122729/achat-cuptimize1_kiuvnm.jpg" class="img-responsive" alt="">
                <div class="category-mask"></div>
                <h3 class="category-title"><img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516124022/bag_mpmeqd.png"></h3>
              </a>
            </div>
          </div>
          <!-- CATEGORY - END -->

        </div>

      </div>

    <!-- ==========================
      CATEGORIES - END
      =========================== -->

