    <!-- ==========================
      JUMBOTRON - START
    =========================== -->
    <section class="content jumbotron jumbotron-full-height">
        <div id="homepage-2-carousel" class="nav-inside">

            <div class="item slide-1" >
                <div class="slide-mask"></div>
                <div class="slide-body">
                    <div class="container">
                        <h2><br/><br/><br/><br/>Trouvez le soutien-gorge qui est fait pour vous ! et pour toutes les tailles</h2><br/><br/><br/><br/><br/>
                        <%= link_to "Voir ma sélection", '/measurements/new', class: "btn btn-inverse btn-lg"%>
                    </div>
                     <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                </div>
            </div>


        </div>
    </section>
    <!-- ==========================
      JUMBOTRON - END
    =========================== -->

    <!-- ==========================
      SERVICES - START
    =========================== -->
    <section class="content services services-3x border-top border-bottom">
    </section>
    <!-- ==========================
      SERVICES - END
    =========================== -->


    <!-- ==========================
      CATEGORIES - START
    =========================== -->

    <div class="content categories">
        <div class="row row-no-padding">

            <!-- CATEGORY - START -->
            <div class="col-xs-4">
                <div class="category">
                    <a href="/measurements/new">
                        <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1512057023/mesure-cuptimize_z1tlls.jpg" class="img-responsive" alt="">
                        <div class="category-mask"></div>
                        <h3 class="category-title">Mesures</h3>
                    </a>
                </div>
            </div>
            <!-- CATEGORY - END -->

            <!-- CATEGORY - START -->
            <div class="col-xs-4">
                <div class="category">
                    <a href="/measurements/new">
                        <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1512057456/selection-cuptimize_huezrs.jpg" class="img-responsive" alt="">
                        <div class="category-mask"></div>
                        <h3 class="category-title">Sélection</h3>
                    </a>
                </div>
            </div>
            <!-- CATEGORY - END -->

            <!-- CATEGORY - START -->
            <div class="col-xs-4">
                <div class="category">
                    <a href="/measurements/new">
                        <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1512057023/achat-cuptimize_k15ltz.jpg" class="img-responsive" alt="">
                        <div class="category-mask"></div>
                        <h3 class="category-title">Achat</h3>
                    </a>
                </div>
            </div>
            <!-- CATEGORY - END -->

        </div>

    </div>

    <!-- ==========================
      CATEGORIES - END
    =========================== -->


    <!-- ==========================
      SERVICES - START
    =========================== -->
    <section class="content services services-3x border-top border-bottom">
        <div class="container">
          <div class="row row-no-padding">

              <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-female"></i>
                        <h3>AVEC VOS MESURES</h3>
                        <p>Pour obtenir de bonnes recommendations, il faut se mesurer</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-6 col-sm-4">
                    <div class="service">
                        <i class="fa fa-heart"></i>
                        <h3>NOUS SELECTIONNONS LE <span style="color:pink">MEILLEUR</span></h3>
                        <p>Selon vos mesures, nous vous proposons une selection faite uniquement pour vous</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-6 col-sm-4">
                    <div class="service">
                        <i class="fa fa-gift"></i>
                        <h3>PARMI NOS PARTENAIRES</h3>
                        <p>Nous travaillons avec des partenaires de qualité parmi les meilleures marques en Europe</p>
                    </div>
                </div>
                <!-- SERVICE - END -->
            <div class="mesure-btn">
            <%= link_to "Entrer mes mesures", '/measurements/new', class: "measurement form-group btn btn-primary", style:"background-color:pink"%>
            </div>
            </div>
        </div>
    </section>
    <!-- ==========================
      SERVICES - END
    =========================== -->



    <!-- ==========================
      NOTIFICATION - START
    =========================== -->
    <section class="content pattern notification">
        <div class="container">
          <div class="row">
                    <h3><span>Pourquoi ?</span></h3>
                    <p>Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>
              <form action="/action_page.php">
              email: <input type="text" name="lname">
              <input type="submit" value="Submit">
              </form>
            </div>
        </div>
    </section>
     <!-- ==========================
      NOTIFICATION - END
    =========================== -->

        <!-- ==========================
      GRID PRODUCTS - START
    =========================== -->
    <section class="content grid-products border-top">
        <div class="container">

           <div class="row">
           <div class="content pattern notification">
        <h3><span>Un aperçu des produits</span></h3>
        </div>
                <div class="col-xs-6 col-sm-3">
                    <article class="product-item">
                        <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1512061563/eng_pm_Bonnie-B4-padded-bra-1076_2_bmgi7k.jpg" class="img-responsive" alt="">
                        <h3><a href="single-product.html">Bonnie B4 - Gorteks</a></h3>
                    </article>
                </div>

                <div class="col-xs-6 col-sm-3">
                    <article class="product-item">
                        <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1512061250/eng_pm_Maya-B3-half-padded-bra-1236_1_hxwnqv.jpg" class="img-responsive" alt="">
                        <h3><a href="single-product.html">Maya B3 - Gorteks</a></h3>
                    </article>
                </div>


                <div class="col-xs-6 col-sm-3">
                    <article class="product-item">
                        <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1512061563/eng_pm_Maribel-B2-soft-bra-1186_2_wkkw7x.jpg" class="img-responsive" alt="">
                        <h3><a href="single-product.html">Maribel B2 - Gorteks</a></h3>
                    </article>
                </div>


                <div class="col-xs-6 col-sm-3">
                    <article class="product-item">
                        <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1512061563/eng_pm_Pamela-B2-soft-bra-575_3_kjwnsz.jpg" class="img-responsive" alt="">
                        <h3><a href="single-product.html">Pamela B2 - Gorteks</a></h3>
                    </article>
                </div>

            </div>
        </div>
    </section>
    <!-- ==========================
      GRID PRODUCTS - END
    =========================== -->



