    <!-- ==========================
      JUMBOTRON - START
      =========================== -->
      <section class="content jumbotron jumbotron-full-height">
        <div id="" class="nav-inside">

          <div class="item slide-1" >
            <div class="slide-mask"></div>
            <div class="slide-body">
              <div class="container">
                <h2><br/><br/><br/><br/><span>Plus de confort pour ton <strong style="color:#FF00CC; font-weight:bold">intimité</strong> <br/>Trouve les <strong style="font-weight:bold">soutiens-gorge</strong> adaptés à tes <strong style="color:#FF00CC; font-weight:bold">formes</strong></span></h2><br/><br/><br/>
                <%= link_to "Je trouve ma lingerie", '/measurements/new', class: "btn btn-inverse btn-lg btn-1", style: "position:center"%>
              </div>
              <br/><br/><br/><br/><br/><br/>
            </div>
          </div>


        </div>
      </section>
    <!-- ==========================
      JUMBOTRON - END
      =========================== -->


    <!-- ==========================
      NOTIFICATION - START
      =========================== -->
      <section class="content pattern notification">
        <div class="container">
          <div class="row">
            <h3><span style="font-size:150px; font-weight: bold; color:#34609A; padding:20px">80% <span><br></h3><p style="font-size:30px;">des femmes ne portent pas la bonne taille de soutien-gorge.</p>
            <h3><span style="font-size:50px; font-weight: bold; color:#34609A; padding:20px">Je fais le test !</span></h3>
            </div>
          </div>
          <div style="background-color:#34609A">
          <h2>Je deviens <strong>bêta-testeuse</strong> pour trouver les soutiens-gorges qui me vont !</h2>
          <div class="container content services">
          <div class="row row-no-padding">

            <!-- SERVICE - START -->
            <div class="col-xs-12 col-sm-4">
              <div class="service">
                <div class="number">1</div>
                <div class="explication">
                <p><strong>Je renseigne mes mesures</strong>, que je prends seins nus et je réponds à quelques questions.</p>
                </div>
              </div>
            </div>
            <!-- SERVICE - END -->

            <!-- SERVICE - START -->
            <div class="col-xs-6 col-sm-4">
              <div class="service">
                <div class="number">2</div>
                <div class="explication">
                <p>Cuptomize sélectionne pour moi entre <strong>6 et 10 soutiens-gorge</strong> différents à tester.</p>
                </div>
              </div>
            </div>
            <!-- SERVICE - END -->

            <!-- SERVICE - START -->
            <div class="col-xs-6 col-sm-4">
              <div class="service">
                <div class="number">3</div>
                <div class="explication">
                <p>Je fais <strong>les essayages à Paris</strong> et je commande les soutiens-gorge qui me vont, si je le souhaite.</p>
                </div>
              </div>
            </div>
            <!-- SERVICE - END -->
            <div class="mesure-btn">
              <%= link_to "Je deviens bêta-testeuse", '/measurements/new', class: "btn btn-primary btn-inverse"%>
            </div>
          </div>
        </div>
          </div>
        </section>
     <!-- ==========================
      NOTIFICATION - END
      =========================== -->


          <!-- ==========================
      CATEGORIES - START
      =========================== -->

      <div class="content categories">
        <div class="row row-no-padding">

          <!-- CATEGORY - START -->
          <div class="col-xs-4">
            <div class="category">
              <a href="/measurements/new">
                <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516122555/mesure-cuptimize1_nj43qc.jpg" class="img-responsive" alt="">
                <div class="category-mask"></div>
                <h3 class="category-title"><img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516124013/boob_a6z8ny.png"></h3>
              </a>
            </div>
          </div>
          <!-- CATEGORY - END -->

          <!-- CATEGORY - START -->
          <div class="col-xs-4">
            <div class="category">
              <a href="/measurements/new">
                <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516122552/selection-cuptimize1_vgao04.jpg" class="img-responsive" alt="">
                <div class="category-mask"></div>
                 <h3 class="category-title"><img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516124018/bra-logo_e6zj90.png"></h3>
              </a>
            </div>
          </div>
          <!-- CATEGORY - END -->

          <!-- CATEGORY - START -->
          <div class="col-xs-4">
            <div class="category">
              <a href="/measurements/new">
                <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516122729/achat-cuptimize1_kiuvnm.jpg" class="img-responsive" alt="">
                <div class="category-mask"></div>
                <h3 class="category-title"><img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516124022/bag_mpmeqd.png"></h3>
              </a>
            </div>
          </div>
          <!-- CATEGORY - END -->

        </div>

      </div>

    <!-- ==========================
      CATEGORIES - END
      =========================== -->


    <!-- ==========================
      SERVICES - START
      =========================== -->
      <section class="content services services-3x border-top border-bottom">
        <div class="container">
          <div class="row row-no-padding">

            <!-- SERVICE - START -->
            <div class="col-xs-12 col-sm-4">
              <div class="service">
                <i class="fa fa-female"></i>
                <h3>AVEC VOS MESURES</h3>
                <p>Vous renseignez vos mesures - seins nus - pour obtenir nos recommendations</p>
              </div>
            </div>
            <!-- SERVICE - END -->

            <!-- SERVICE - START -->
            <div class="col-xs-6 col-sm-4">
              <div class="service">
                <i class="fa fa-heart"></i>
                <h3>NOUS SELECTIONNONS LE <span style="color:pink">MEILLEUR</span></h3>
                <p>Nous vous proposons une sélection unique, faite exclusivement pour vous</p>
              </div>
            </div>
            <!-- SERVICE - END -->

            <!-- SERVICE - START -->
            <div class="col-xs-6 col-sm-4">
              <div class="service">
                <i class="fa fa-gift"></i>
                <h3>PARMI NOS PARTENAIRES</h3>
                <p>Nous travaillons avec des partenaires européens de qualité - ils sont testés et approuvés par nos soins</p>
              </div>
            </div>
            <!-- SERVICE - END -->
            <div class="mesure-btn">
              <%= link_to "Entrer mes mesures", '/measurements/new', class: "measurement form-group btn btn-primary", style:"background-color:pink"%>
            </div>
          </div>
        </div>
      </section>
    <!-- ==========================
      SERVICES - END
      =========================== -->

